.c_hidden.cr {
  display:none;
}
.c_visually-hidden.cr {
  overflow:hidden;
  clip:rect(1px,1px,1px,1px);
  width:1px;
  height:1px;
  overflow-wrap:normal;
  position:absolute!important;
}
html {
  font-family:sans-serif;
  text-size-adjust:100%;
}
body {
  margin:0;
}
article.cr,
footer.cr,
header.cr,
main.cr,
nav.cr,
section.cr {
  display:block;
}
a,
a:link,
a:visited {
  background-color:transparent;
}
strong.cr {
  font-weight:bold;
}
h1 {
  font-size:2em;
  margin:.67em 0;
}
img.cr {
  border:0;
}
svg.cr:not(:root) {
  overflow:hidden;
}
button.cr {
  color:inherit;
  font:inherit;
  margin:0;
}
button.cr {
  overflow:visible;
}
button.cr {
  text-transform:none;
}
button.cr {
  appearance:button;
  -webkit-appearance:button;
  -ms-appearance:button;
  -moz-appearance:button;
  cursor:pointer;
}
html,
body {
  height:100%;
}
body,
.c_l-canvas.cr {
  display:flex;
  box-orient:vertical;
  -webkit-box-orient:vertical;
  -ms-box-orient:vertical;
  -moz-box-orient:vertical;
  box-direction:normal;
  -webkit-box-direction:normal;
  -ms-box-direction:normal;
  -moz-box-direction:normal;
  flex-direction:column;
}
.c_l-canvas.cr,
.c_l-content-wrapper.cr {
  box-flex:1;
  -webkit-box-flex:1;
  -ms-box-flex:1;
  -moz-box-flex:1;
  flex:1 0 auto;
  min-height:1px;
}
.c_site-footer.cr {
  flex-shrink:0;
}
.c_l-container.cr {
  zoom:1;
  margin:0 auto;
  width:100%;
  max-width:87.0588rem;
  padding:0 1rem;
}
.c_l-container.cr::after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
@media(min-width:35.2941176471em) {
  .c_l-container.cr {
    padding:0 2.35294rem;
  }
}
html {
  box-sizing:border-box;
}
* {
  box-sizing:inherit;
}
body {
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  background:#fff;
  color:#200800;
  font-family:Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size:16px;
  font-weight:400;
  line-height:1.52941em!important;
  width:100%;
}
@media(min-width:47.0588235294em) {
  body {
    line-height:1.64706em;
  }
}
a,
a:link,
a:visited {
  color:#385e9d;
  text-decoration:underline;
}
a:hover,
a:active {
  text-decoration:none;
}
h1 {
  font-size:2rem;
  font-weight:700;
  line-height:1.075em;
}
@media(min-width:47.0588235294em) {
  h1 {
    font-size:3rem;
    line-height:1.1em;
  }
}
h2 {
  font-size:1.6rem;
  font-weight:500;
  line-height:1.16666em;
  margin-bottom:1rem;
  margin-top:1.5em;
}
@media(min-width:47.0588235294em) {
  h2 {
    font-size:1.7rem;
  }
}
h3 {
  font-size:1.4rem;
  font-weight:700;
  line-height:1.16666em;
  margin-bottom:1rem;
  margin-top:1.5em;
}
h4.cr {
  font-size:1.2rem;
  font-weight:700;
  line-height:1.2em;
  margin-bottom:1rem;
  margin-top:1.5em;
}
ul.cr {
  margin-left:1.22222em;
  padding-left:1.22222em;
}
ul.cr li.cr {
  padding-left:.6em;
}
img.cr {
  display:block;
  height:auto;
  max-width:100%;
  width:auto;
}
address.cr {
  font-style:normal;
}
.c_skip-links__link.cr {
  transition:top .15s ease 0s;
  position:absolute;
  background:#f2a900;
  color:#000;
  top:-48px;
  left:0;
  padding:.588235em;
}
.c_skip-links__link.cr:focus {
  top:0;
  left:0;
  z-index:10;
}
.c_button.cr {
  text-decoration:none;
  color:#200800;
  font-size:1rem;
  font-weight:500;
  appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  -moz-appearance:none;
  border:0 #f2a900;
  border-radius:4px;
  padding:1em 1.5em;
  background-color:#f2a900;
  display:inline-block;
  cursor:pointer;
  transition:all .15s ease-in-out 0s;
  text-align:center;
  line-height:1.1em;
}
.c_button.cr:hover,
.c_button.cr:focus {
  background-color:#ffba1c;
}
.c_button.cr:active {
  background-color:#c98d00;
}
.c_button--small.cr {
  font-size:.9rem;
  padding:.75em 1em;
}
.c_fullwidth.cr.c_page-header.cr {
  left:50%;
  margin:0 -50vw;
  position:relative;
  right:50%;
  width:100vw;
  background:#f1f1f1;
  padding:2rem 0;
}
.c_fullwidth.cr.c_page-header.cr .c_fullwidth__container.cr {
  margin:0 auto;
  width:100%;
  max-width:87.0588rem;
  padding:0 1rem;
}
@media(min-width:35.2941176471em) {
  .c_fullwidth.cr.c_page-header.cr .c_fullwidth__container.cr {
    padding:0 2.35294rem;
  }
}
.c_fullwidth.cr.c_page-header.cr.c_fullwidth--transparent.cr {
  background:transparent;
  padding:0;
}
.c_mobile-drawer.cr {
  background:#f1f1f1;
  font-size:.9rem;
  line-height:1.45em;
  width:100%;
  height:calc(100vh - 5.5rem);
  overflow:scroll;
  display:none;
  z-index:999;
}
@media(min-width:35.2941176471em) {
  .c_mobile-drawer.cr {
    height:calc(100vh - 6.75rem);
  }
}
.c_mobile-drawer.cr a {
  color:#200800;
}
.c_mobile-drawer.cr .c_l-container.cr {
  padding-top:2rem;
  padding-bottom:2rem;
}
@media(min-width:82.3529411765em) {
  .c_mobile-drawer.cr {
    display:none;
  }
}
.c_mobile-drawer__address.cr {
  margin:2.5rem 0;
}
.c_mobile-drawer.cr nav.cr .c_menu.cr {
  list-style:none;
  margin:0;
  padding:0;
}
.c_mobile-drawer.cr .c_menu--main.cr .c_menu-item.cr {
  border-bottom:1px solid rgba(32,8,0,.35);
  margin:0 0 .5em;
  padding:0 0 .5em;
}
.c_mobile-drawer.cr .c_menu--main.cr a {
  font-size:1rem;
  font-weight:500;
  text-decoration:none;
}
.c_mobile-drawer.cr .c_menu--main.cr a:hover,
.c_mobile-drawer.cr .c_menu--main.cr a:focus {
  text-decoration:underline;
}
.c_mobile-drawer.cr .c_menu--functional.cr,
.c_mobile-drawer.cr .c_menu--footer.cr {
  margin:1rem 0 2.5rem;
  max-width:23.5294rem;
}
@media(min-width:23.5294117647em) {
  .c_mobile-drawer.cr .c_menu--functional.cr,
  .c_mobile-drawer.cr .c_menu--footer.cr {
    column-count:2;
  }
}
.c_mobile-drawer.cr .c_menu--functional.cr .c_menu-item.cr,
.c_mobile-drawer.cr .c_menu--footer.cr .c_menu-item.cr {
  margin:0;
  padding:1.5em 0 0;
}
.c_mobile-drawer.cr .c_menu--functional.cr a,
.c_mobile-drawer.cr .c_menu--footer.cr a {
  line-height:1em;
}
.c_mobile-drawer.cr .c_menu--global-cta.cr {
  margin:2.5rem 0;
  max-width:23.5294rem;
}
.c_mobile-drawer.cr .c_menu--global-cta.cr .c_menu.cr {
  display:flex;
}
.c_mobile-drawer.cr .c_menu--global-cta.cr .c_menu-item.cr {
  box-flex:1;
  -webkit-box-flex:1;
  -ms-box-flex:1;
  -moz-box-flex:1;
  flex:1 1 0%;
}
.c_mobile-drawer.cr .c_menu--global-cta.cr .c_menu-item.cr:first-child {
  padding:0;
}
.c_mobile-drawer.cr .c_menu--global-cta.cr .c_button.cr {
  width:100%;
}
.c_mobile-drawer.cr .c_mobile-territory-acknowledgement.cr {
  display:none;
  margin:2.5rem 0;
  border-left:3px solid #f2a900;
  padding-left:1.3em;
  line-height:1.3em;
}
.c_mobile-territory-acknowledgement-active.cr .c_mobile-drawer.cr .c_mobile-territory-acknowledgement.cr {
  display:block;
}
.c_mobile-drawer.cr .c_front-centre.cr {
  margin:2.5rem 0;
}
.c_mobile-drawer.cr .c_front-centre.cr img.cr {
  width:11.7647rem;
}
.c_mobile-drawer.cr .c_front-centre.cr a {
  margin-top:1em;
  display:inline-block;
}
.c_mobile-drawer.cr .c_menu--social.cr .c_social-links.cr {
  flex-wrap:wrap;
}
.c_mobile-drawer.cr .c_menu--social.cr .c_social-links__item.cr {
  margin:0 1.6em 0 0;
}
.c_mobile-drawer.cr .c_menu--social.cr .c_social-links__item.cr:last-child {
  box-flex:1;
  -webkit-box-flex:1;
  -ms-box-flex:1;
  -moz-box-flex:1;
  flex:1 1 100%;
  margin-top:.5em;
}
.c_page-header.cr {
  margin-bottom:2rem;
}
@media(min-width:70.5882352941em) {
  .c_page-header__inner.cr {
    display:flex;
  }
}
.c_page-header.cr h1 {
  max-width:53.8235rem;
}
@media(min-width:70.5882352941em) {
  .c_page-header.cr h1 {
    margin:2rem 0;
  }
}
.c_page-header__main.cr {
  box-flex:1;
  -webkit-box-flex:1;
  -ms-box-flex:1;
  -moz-box-flex:1;
  flex:1 1 75%;
}
@media(min-width:70.5882352941em) {
  .c_page-header__main-content.cr {
    margin-top:2rem;
  }
}
.c_page-header__main-content-body {
  box-flex:1;
  -webkit-box-flex:1;
  -ms-box-flex:1;
  -moz-box-flex:1;
  flex-grow:1;
}
@media(min-width:47.0588235294em) {
  .c_page-header__main-content-body {
    max-width:95%;
    margin:auto;
  }
}
.c_page-header.cr.c_fullwidth.cr {
  margin-bottom:2rem;
}
@media(min-width:70.5882352941em) {
  .c_page-header.cr.c_fullwidth.cr {
    padding:2rem 0 4rem;
  }
}
.c_site-footer.cr {
  background:#f1f1f1;
  margin-top:.5rem;
  padding:2.5rem 0;
  font-size:1rem;
  line-height:1rem;
}
@media(min-width:58.8235294118em) {
  .c_site-footer.cr {
    margin-top:1rem;
  }
}
.c_site-footer__top.cr {
  line-height:1.64706em;
  margin-bottom:1.5rem;
}
@media(min-width:58.8235294118em) {
  .c_site-footer__top.cr {
    display:flex;
    margin-bottom:1rem;
  }
}
.c_site-footer__bottom.cr {
  line-height:1.64706em;
}
@media(min-width:58.8235294118em) {
  .c_site-footer__bottom.cr {
    display:flex;
  }
}
@media(min-width:58.8235294118em) {
  .c_site-footer__bottom-middle.cr {
    align-self:flex-end;
    flex-shrink:0;
    margin-right:3.5rem;
  }
}
@media(min-width:58.8235294118em) {
  .c_site-footer__bottom-right.cr {
    margin-left:auto;
    display:flex;
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -ms-box-orient:vertical;
    -moz-box-orient:vertical;
    box-direction:normal;
    -webkit-box-direction:normal;
    -ms-box-direction:normal;
    -moz-box-direction:normal;
    flex-direction:column;
    padding-bottom:.235294rem;
  }
}
.c_site-footer.cr a {
  color:#200800;
}
.c_site-footer.cr ul.cr {
  list-style:none;
  display:flex;
  padding:0;
  margin:0;
}
.c_site-footer__logo.cr {
  display:block;
  width:11.7647rem;
}
.c_site-footer__logo.cr img.cr {
  width:100%;
}
.c_site-footer__address.cr {
  margin-bottom:1.5rem;
}
@media(min-width:58.8235294118em) {
  .c_site-footer__address.cr {
    margin-bottom:0;
    margin-right:3.5rem;
    align-self:flex-end;
    flex-shrink:0;
  }
}
.c_site-footer__address.cr p.cr {
  margin:0 0 .588235em;
}
.c_site-footer.cr .c_telephone.cr {
  margin-bottom:1.5em;
}
.c_site-footer.cr .c_menu--social.cr {
  margin-bottom:1em;
}
@media(min-width:58.8235294118em) {
  .c_site-footer.cr .c_menu--social.cr {
    margin-bottom:0;
  }
}
.c_site-footer.cr .c_menu--social.cr .c_social-links.cr li.cr:first-child {
  margin-left:0;
}
.c_site-footer__campaign.cr {
  display:none;
}
@media(min-width:58.8235294118em) {
  .c_site-footer__campaign.cr {
    text-align:right;
    align-self:flex-end;
    display:block;
    margin-bottom:3.2rem;
  }
}
@media(min-width:58.8235294118em) {
  .c_site-footer__campaign.cr img.cr {
    max-width:10.5882rem;
    margin-left:auto;
    margin-bottom:.5em;
  }
}
.c_site-footer.cr .c_menu--legal.cr {
  display:flex;
  align-self:end;
  margin-top:auto;
}
@media(min-width:58.8235294118em) {
  .c_site-footer.cr .c_menu--legal.cr {
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -ms-box-orient:vertical;
    -moz-box-orient:vertical;
    box-direction:normal;
    -webkit-box-direction:normal;
    -ms-box-direction:normal;
    -moz-box-direction:normal;
    flex-direction:column;
  }
}
@media(min-width:94.1176470588em) {
  .c_site-footer.cr .c_menu--legal.cr {
    box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -ms-box-orient:horizontal;
    -moz-box-orient:horizontal;
    box-direction:normal;
    -webkit-box-direction:normal;
    -ms-box-direction:normal;
    -moz-box-direction:normal;
    flex-direction:row;
  }
}
.c_site-footer.cr .c_menu--legal.cr .c_menu.cr {
  display:none;
}
@media(min-width:58.8235294118em) {
  .c_site-footer.cr .c_menu--legal.cr .c_menu.cr {
    display:flex;
    flex-wrap:wrap;
    box-pack:end;
    -webkit-box-pack:end;
    -ms-box-pack:end;
    -moz-box-pack:end;
    justify-content:flex-end;
  }
}
@media(min-width:94.1176470588em) {
  .c_site-footer.cr .c_menu--legal.cr .c_menu.cr {
    margin-right:1em;
  }
}
.c_site-footer.cr .c_menu--legal.cr li.cr {
  padding-left:1.5em;
}
.c_site-footer.cr .c_menu--legal.cr li.cr:first-child {
  padding-left:0;
}
.c_site-footer.cr .c_menu--legal.cr p.cr {
  margin:0;
}
@media(min-width:58.8235294118em) {
  .c_site-footer.cr .c_menu--legal.cr p.cr {
    text-align:right;
  }
}
.c_site-footer.cr .c_menu--footer.cr {
  display:none;
}
@media(min-width:58.8235294118em) {
  .c_site-footer.cr .c_menu--footer.cr {
    display:block;
    margin-left:auto;
    align-self:center;
  }
}
.c_site-footer.cr .c_menu--footer.cr li.cr {
  padding-left:1.5em;
  white-space:nowrap;
}
.c_site-header.cr {
  display:flex;
  box-orient:vertical;
  -webkit-box-orient:vertical;
  -ms-box-orient:vertical;
  -moz-box-orient:vertical;
  box-direction:normal;
  -webkit-box-direction:normal;
  -ms-box-direction:normal;
  -moz-box-direction:normal;
  flex-direction:column;
  width:100%;
  margin:.5rem auto;
}
@media(min-width:70.5882352941em) {
  .c_site-header.cr {
    display:block;
    border-top:3px solid #362925;
    margin:0 auto 1.5rem;
  }
}
.c_site-header__top.cr {
  border-bottom:1px solid #bcbec0;
  box-pack:justify;
  -webkit-box-pack:justify;
  -ms-box-pack:justify;
  -moz-box-pack:justify;
  justify-content:space-between;
  padding:1rem 0;
  margin-bottom:1rem;
  font-size:1rem;
  line-height:1em;
  display:none;
}
@media(min-width:70.5882352941em) {
  .c_site-header__top.cr {
    display:flex;
  }
}
.c_site-header__bottom.cr {
  display:flex;
  box-align:center;
  -webkit-box-align:center;
  -ms-box-align:center;
  -moz-box-align:center;
  align-items:center;
}
@media(min-width:70.5882352941em) {
  .c_site-header__bottom.cr {
    box-align:end;
    -webkit-box-align:end;
    -ms-box-align:end;
    -moz-box-align:end;
    align-items:flex-end;
  }
}
.c_site-header__top-navs.cr {
  display:flex;
  margin-left:auto;
}
.c_site-header__top-navs.cr nav.cr+nav.cr {
  border-left:1px solid #bcbec0;
  padding-left:1.5em;
  margin-left:1.5em;
}
.c_site-header__logo.cr {
  display:block;
  margin-right:auto;
  width:8.82353rem;
  flex-shrink:0;
}
@media(min-width:35.2941176471em) {
  .c_site-header__logo.cr {
    width:11.7647rem;
  }
}
@media(min-width:70.5882352941em) {
  .c_site-header__logo.cr {
    width:14.7059rem;
  }
}
.c_site-header.cr nav.cr .c_menu.cr {
  list-style:none;
  display:flex;
  margin:0;
  padding:0;
}
.c_site-header.cr nav.cr .c_menu-item.cr {
  margin:0;
  padding:0;
}
.c_site-header.cr nav.cr .c_menu-item.cr+.c_menu-item.cr {
  margin-left:1em;
}
@media(min-width:70.5882352941em) {
  .c_site-header.cr nav.cr .c_menu-item.cr+.c_menu-item.cr {
    margin-left:1.5em;
  }
}
@media(min-width:82.3529411765em) {
  .c_site-header.cr nav.cr .c_menu-item.cr+.c_menu-item.cr {
    margin-left:2.2em;
  }
}
.c_site-header.cr nav.cr .c_menu-item.cr a {
  color:#200800;
  text-decoration:none;
  position:relative;
}
.c_site-header.cr nav.cr .c_menu-item.cr a::after {
  content:"";
  height:3px;
  position:absolute;
  bottom:-1rem;
  left:0;
  right:0;
  pointer-events:none;
  display:block;
  opacity:0;
  transition:opacity .15s ease 0s;
}
.c_site-header.cr nav.cr .c_menu-item.cr a:hover::after,
.c_site-header.cr nav.cr .c_menu-item.cr a:focus::after {
  background:#bcbec0;
  opacity:1;
}
.c_site-header.cr nav.cr .c_menu-item.cr a.c_is-active.cr::after {
  background:#f2a900;
  opacity:1;
}
.c_site-header.cr .c_menu--global-cta.cr a {
  font-weight:700;
  text-transform:uppercase;
}
.c_site-header.cr .c_menu--main.cr {
  display:none;
  padding-bottom:1.17647rem;
}
@media(min-width:70.5882352941em) {
  .c_site-header.cr .c_menu--main.cr {
    display:block;
  }
}
.c_site-header.cr .c_menu--main.cr .c_menu-item.cr a {
  font-weight:500;
}
@media(min-width:82.3529411765em) {
  .c_site-header.cr .c_menu--main.cr .c_menu-item.cr a {
    font-size:1.2rem;
  }
}
.c_site-header.cr .c_menu--main.cr .c_menu-item.cr a::after {
  bottom:-.588235rem;
}
.c_site-header.cr .c_territory-button.cr {
  position:relative;
  background:transparent;
  border:0;
  color:#200800;
  font-size:.9rem;
  line-height:1em;
  padding:0;
}
.c_site-header.cr .c_territory-button.cr::before {
  opacity:0;
  position:absolute;
  left:50%;
  top:-18px;
  width:0;
  height:0;
  transform:translateX(-5px);
  border-style:solid;
  border-width:5px 5px 0;
  border-color:#200800 transparent transparent;
  content:" ";
  transition:all .2s ease 0s;
}
.c_site-header.cr .c_territory-button.cr:hover,
.c_site-header.cr .c_territory-button.cr:focus {
  text-decoration:underline;
  outline:0;
}
.c_site-header.cr .c_l-container.cr {
  box-ordinal-group:2;
  -webkit-box-ordinal-group:2;
  -ms-box-ordinal-group:2;
  -moz-box-ordinal-group:2;
  order:1;
}
.c_site-header.cr .c_territory-acknowledgement.cr {
  box-ordinal-group:4;
  -webkit-box-ordinal-group:4;
  -ms-box-ordinal-group:4;
  -moz-box-ordinal-group:4;
  order:3;
}
.c_social-links.cr {
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  box-align:center;
  -webkit-box-align:center;
  -ms-box-align:center;
  -moz-box-align:center;
  align-items:center;
}
.c_social-links__item.cr {
  margin:0 .25em;
  padding:0;
}
.c_social-links__link.cr {
  padding:.75em .25em 0;
  fill:#385e9d;
  text-decoration:none;
}
.c_site-footer.cr .c_social-links__link.cr {
  fill:inherit;
}
.c_social-links__link.cr .c_social-links__icon.cr {
  width:1.47059rem;
  height:1.47059rem;
  font-size:0;
  transition:all .2s ease-in-out 0s;
}
.c_social-links__link.cr .c_social-links__icon.cr .c_icon-linkedin.cr {
  height:1.17647rem;
}
.c_social-links__link.cr .c_social-links__icon.cr .c_icon-youtube.cr {
  height:1.05882rem;
}
.c_social-links__link.cr:hover,
.c_social-links__link.cr:focus {
  fill:#4370bb;
}
.c_territory-acknowledgement.cr {
  position:relative;
  max-height:0;
  background:#eee;
  box-shadow:rgba(0,0,0,.04) 0 -2px 4px 0 inset;
  overflow:hidden;
  transition:all .3s ease 0s;
}
@media(min-width:70.5882352941em) {
  .c_territory-acknowledgement.cr {
    margin:0;
  }
}
.c_territory-acknowledgement__inner.cr {
  padding:1em;
}
.c_territory-acknowledgement.cr p.cr {
  margin:0;
  font-size:.9em;
  text-align:center;
}
.c_territory-acknowledgement.cr p.cr a {
  color:#200800;
}
.c_visually-hidden.cr {
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  position:absolute!important;
}
.c_u-link-decoration.cr {
  text-decoration:none;
}
@media print {
  * {
    background:transparent!important;
    color:#000!important;
    box-shadow:none!important;
    text-shadow:none!important;
  }
}
@media print {
  a,
  a:visited {
    text-decoration:underline;
  }
}
@media print {
  a[href]::after {
    content:" (" attr(href) ")";
  }
}
@media print {
  a[href^="tel"]::after,
  a[href^="#"]::after {
    content:"";
  }
}
@media print {
  img.cr {
    break-inside:avoid;
  }
}
@media print {
  img.cr {
    max-width:100%!important;
  }
}
@media print {
  p.cr,
  h2,
  h3 {
    orphans:3;
    widows:3;
  }
}
@media print {
  h2,
  h3 {
    break-after:avoid;
  }
}
@media print {
  .c_skip-links__link.cr {
    display:none;
  }
}
#side {
  width:20%;
  box-sizing:border-box;
}
#main {
  width:80%;
}
div#menu {
  width:auto;
}
div#menu ul li a {
  width:100%;
  min-width:100px;
  padding:3px 0 5px 1px;
  overflow-wrap:break-word;
}
.plupload_filelist_footer {
  height:43px!important;
}
ul.tabs li a {
  height:30px;
  font-size:14px;
}
.slide {
  height:auto!important;
  width:auto!important;
}
#content ul.subtabs li a {
  height:30px;
  font-size:14px;
}
input,
button,
textarea,
select,
optgroup,
option,
input[type=password],
input[type=text],
input[type=email],
input[type=tel],
input:not([type]) {
  font-family:inherit!important;
  font-size:100%;
}
@media screen and (max-width:600px) {
  button,
  textarea,
  input[type=password],
  input[type=text],
  input[type=email],
  input[type=tel],
  input:not([type]),
  div.form_question:not([class*="form_birthdate"]) select {
    width:100%;
  }
}

